.impel.sheet.characterSheet .sheet {
  width: 500px;
  height: 500px;
}
.impel.sheet.characterSheet .sheet2 {
  width: 500px;
  height: 500px;
}
.impel.sheet.characterSheet .headerbox {
  float: left;
  width: 100%;
  height: 80px;
}
.impel.sheet.characterSheet .logoBox {
  float: left;
  width: 100%;
  height: 190px;
  position: relative;
}
.impel.sheet.characterSheet .logoImg {
  height: 89%;
  width: 38%;
  margin: 55px;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
}
.impel.sheet.characterSheet .logoText {
  position: absolute;
  top: 22px;
  left: -23px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}
